.thumbnail{
    width: 300px;
}
.search-box{
    display: block;
}
.video-title{
    width: 300px;
}
.video-preview{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-left: 15px;
}